$grid-size: 16px;

$grid-size-max-width: 80;
$grid-size-max-height: 60;

$grid-boundaries: (
        'small': (12, 9),
        'medium': (24, 18),
        'normal': (32, 24),
        'large': (40, 30),
        'x-large': (48, 36),
        'xx-large': (60, 45),
        "xxx-large": (80, 60)
);

$prefixes : (
  '-webkit-',
  '-moz-',
  '-ms-',
  '-o-'
);

@mixin prefixes ($property, $value) {
  @each $pfx in $prefixes {
    #{$pfx}#{$property}: $value;
  }
  #{$property}: $value;
}